{%  block toto %}
    <div class="row px-4 py-4">
        <h1>Bienvenue dans votres espace personelle .........</h1>
    </div>
    <div class="row justify-content-center">
        <a href="{{ path('customer_index') }}" class="mx-2 btn btn-{% if current_menu_admin is defined and current_menu_admin == 'adminCustomers' %}outline-{%  endif %}primary btn-lg">Clients</a>
        <a href="{{ path('product_index') }}" class="mx-2 btn btn-{% if current_menu_admin is defined and current_menu_admin == 'adminProducts' %}outline-{%  endif %}primary btn-lg">Produits
        <a href="{{ path('sale_index') }}" class="mx-2 btn btn-{% if current_menu_admin is defined and current_menu_admin == 'adminProducts' %}outline-{%  endif %}primary btn-lg">ventes</a>
        <a href="{{ path('sale_product_index') }}" class="mx-2 btn btn-{% if current_menu_admin is defined and current_menu_admin == 'adminProducts' %}outline-{%  endif %}primary btn-lg">vents par Produits</a>
        <a href="{{ path('tag_index') }}" class="mx-2 btn btn-{% if current_menu_admin is defined and current_menu_admin == 'adminProducts' %}outline-{%  endif %}primary btn-lg">tag</a>
    </div>
{%  endblock %}
