{%  extends 'base.html.twig' %}



{% block body %}
    <div class="container mt-4 text-dark jumbotron">
        {{ include('Admin/_navAdmin.html.twig') }}
        <div class="row px-4 py-4">
            <h2>admin clients</h2>
        </div>
        <div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="container px-4 py-4">
            <div class="row justify-content-center">
                <a href="{{ path('customer_new') }}" class="mx-2 btn btn-primary btn-lg">Crée un client</a>
            </div>
        </div>
        <div class="container px-4 py-4">
            <div class="row justify-content-center">
                {{ include('customer/index.html.twig', {customers: customers}) }}
            </div>
        </div>


    </div>
{% endblock %}