{%  extends 'base.html.twig' %}

{% block title %} conection admin{% endblock %}

{% block body %}
    <div class="container mt-4 text-dark jumbotron">
        <div class="row mt-5">
            <h1>Connection sur votre profile admin</h1>
        </div>
        <div class="row mt-4">
            <h3>Veuillez rentrer vos identifiant personnel</h3>
        </div>
        <div class="row mt-4">
            <a href="{{ path('adminIndex') }}" class="btn btn-primary">Valider</a>
        </div>
    </div>

{% endblock %}