{%  extends 'base.html.twig' %}

{% block title %}accueile admin{% endblock %}

{% block body %}
    <div class="container mt-4 text-dark jumbotron">
        <div class="row px-4 my-4"></div>
        {{ include('Admin/_navAdmin.html.twig') }}
    </div>

{% endblock %}