{% extends 'base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
    <div class="container jumbotron text-dark" >
        {{ include('customer/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('customer_index') }} " class="btn btn-primary">back to list</a>

        {{ include('customer/_delete_form.html.twig') }}
    </div>
    <h1>Edit Customer</h1>

{% endblock %}
