<div>
    <div>

    </div>
    <div class="pagination">
        {{ knp_pagination_render(customers) }}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Mail</th>
            <th>Tel</th>
            <th>Addresses</th>
            <th>City</th>
            <th>Country</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.mail }}</td>
                <td>{{ customer.tel }}</td>
                <td>{{ customer.addresses }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.country }}</td>
                <td>
                    <a href="{{ path('customer_show', {'id': customer.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('customer_edit', {'id': customer.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(customers) }}
    </div>
</div>


