{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <div class="container jumbotron text-dark" >
        <h1>Create new Customer</h1>

        {{ include('customer/_form.html.twig') }}

        <a href="{{ path('customer_index') }}" class="btn btn-primary">back to list</a>
    </div>

{% endblock %}
