{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <div class="container jumbotron text-dark" >
        <div class="row">
            <h1>Clients {{ customer.firstName }} {{ customer.lastName }}:</h1>
        </div>
        <div class="row mt-4">
            <table class="table table-striped table-dark">
                <tbody>
                <tr>
                    <th>FirstName</th>
                    <td>{{ customer.firstName }}</td>
                </tr>
                <tr>
                    <th>LastName</th>
                    <td>{{ customer.lastName }}</td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>{{ customer.mail }}</td>
                </tr>
                <tr>
                    <th>Tel</th>
                    <td>{{ customer.tel }}</td>
                </tr>
                <tr>
                    <th>Addresses</th>
                    <td>{{ customer.addresses }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ customer.city }}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{ customer.country }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="mx-1">
                <a href="{{ path('customer_index') }}" class="btn btn-primary">back to list</a>
            </div>
            <div class="mx-1">
                <a href="{{ path('customer_edit', {'id': customer.id}) }}" class="btn btn-primary">edit</a>
            </div>
            <div class="mx-1">
                {{ include('customer/_delete_form.html.twig') }}
            </div>

        </div>
        <div class="row">
            <h1>Achat du clients</h1>
        </div>
        <div class="row">
            {% for sale in customer.sales %}

                <h5>Achat du clients le {{ sale.dateOfPurchase|date("m/d/Y") }}</h5>

                <table class="table table-striped table-dark">
                    <tbody>
                    <tr>
                        <th>Prix</th>
                        <td>{{ sale.amount }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>





    </div>

{% endblock %}
