{{ knp_pagination_render(sales) }}
<table class="table">
        <thead>
            <tr>
                <th>DateOfPurchase</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Color</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.dateOfPurchase ? sale.dateOfPurchase|date('Y-m-d H:i:s') : '' }}</td>

                <td>{{ sale.customer.firstName }} {{ sale.customer.lastName }}</td>

                <td>{% for tt in  sale.saleProducts  %}
                        -{{tt.product.name}}</br>
                {% endfor %}</td>

                <td>{% for dd in  sale.saleProducts  %}
                    {{dd.quantityProduct}}</br>
                {% endfor %}</td>

                <td>{% for dd in  sale.saleProducts  %}
                    {{dd.color}}</br>
                {% endfor %}</td>

                <td>{{ sale.amount }}</td>

                <td>
                    <a href="{{ path('sale_show',{'id': sale.id} ) }}">show</a>
                    <a href="{{ path('sale_edit', {'id': sale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{{ knp_pagination_render(sales) }}


