{% extends 'base.html.twig' %}

{% block title %}Sale {{ sale.dateOfPurchase ? sale.dateOfPurchase|date('Y-m-d H:i:s') : '' }}  de {{ sale.customer.firstName }} {{ sale.customer.lastName }} {% endblock %}

{% block body %}
    <div class="container jumbotron text-dark">
        {# sales summary #}
        <div class="row">
            <h1>Vente du {{ sale.dateOfPurchase ? sale.dateOfPurchase|date('Y-m-d H:i:s') : '' }} de {{ sale.customer.firstName }} {{ sale.customer.lastName }} </h1>
            <table class="table mt-4">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>total price</th>
                    <th>Color</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% for s in  sale.saleProducts  %}
                            -{{s.product.name}}</br>
                        {% endfor %}</td>
                    <td>{% for s in  sale.saleProducts  %}
                            {{s.product.price}} €</br>
                        {% endfor %}</td>

                    <td>{% for s in  sale.saleProducts  %}
                            {{s.quantityProduct}}</br>
                        {% endfor %}</td>

                    <td>{% for s in  sale.saleProducts  %}
                            {{(s.quantityProduct * s.product.price )|number_format(2)}}</br>
                        {% endfor %}</td>

                    <td>{% for dd in  sale.saleProducts  %}
                            {{dd.color}}</br>
                        {% endfor %}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {# sale delivery information #}
        <div class="row">
            <div class="col">
                <div class="row mt-4 ">
                    <h3>Livraison :</h3>
                </div>
                <div class="row mt-2 ">
                    <p>{{ sale.customer.city }} {{ sale.customer.addresses }}</p>
                </div>
                <div class="row mt-4 ">
                    <h3>Contact :</h3>
                </div>
                <div class="row mt-2 ">
                    <p>{{ sale.customer.tel }}</p>
                </div>
                <div class="row mt-2 ">
                    <p>{{ sale.customer.mail }}</p>
                </div>
            </div>
            {# total of the sale without taxes and all taxes included  #}
            <div class="col">
                <div class="row mt-4 mr-4 justify-content-end">
                    <h4>prix totale HT :{{ (sale.amount -(( sale.amount /100) * 19.6) )|number_format(2) }}</h4>
                </div>
                <div class="row mt-4 mr-4 justify-content-end">
                    <h4>tva :{{ (( sale.amount / 100 ) * 19.6)|number_format(2) }}</h4>
                </div>
                <div class="row mt-4 mr-4 justify-content-end">
                    <h3>prix totale TTC :{{ sale.amount }}</h3>
                </div>
            </div>
        </div>
        {# buttons for back to list, edit and delete #}
        <div class="row justify-content-end">
            <div class="mx-2">
                <a href="{{ path('sale_index') }}" class="btn btn-primary">back to list</a>
            </div>
            <div class="mx-2">
                <a href="{{ path('sale_edit', {'id': sale.id}) }}" class="btn btn-primary">edit</a>
            </div>
            <div class="mx-2">
                {{ include('sale/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
