{%  extends 'base.html.twig' %}
{% block title %}accueile{% endblock %}
{% block body %}
    <div class="container mt-4 text-dark jumbotron">
        <div class="row mt-4">
            <h1>La Taverne des Dieux</h1>
        </div>
        <div class="row mt-5">
            <h2>Des bières pour se faire plaisir ou à offrir</h2>
        </div>
        <div class="row mt-4 ">
            <p>La taverne des dieux vous accueille du mardi au samedi et vous conseille pour choisir la bière qui vous convient. Légère, acidulée, amère… Dites-nous ce que vous aimez, ce que vous désirez découvrir, ou bien laissez vous guider pour une aventure au pays de la fermentation. Notre offre est pléthorique et il y en a vraiment pour tous les goûts. Envie d’une bouteille spéciale pour accompagner un repas ? A l’instar du vin, les accords mets et bières ne sont pas Ã  négliger. Bière et fromage, bière et charcuterie, bière et plat mijoté… Dans la large gamme de boissons fermentées de la cave Victor, vous trouverez votre bonheur. D’autant que notre riche sélection est résolument tournée vers les produits artisanaux, réalisés avec passion et enthousiasme.</p>
            <p>Soirée  en perspective ? Et si vous choisissiez un magnum de bière à déguster avec les copains. Un cadeau à faire ? Avez-vous déjà pensé à un coffret cadeau de bières ? Une idée originale qui vous démarquera à coup sûr. Un dîner chez vos beaux parents ? Pour changer du sempiternel vin, optez pour quelques jolies bouteilles de brunes, de rousses ou de blondes.</p>
        </div>
        <div class="row mt-4 d-flex justify-content-center" >
            <img src="/asset/img/img-index1.jpg" alt=" Photo de la taverne des dieux " height="250em">
            <img src="/asset/img/img-index2.jpg" alt=" Photo de la taverne des dieux " height="250em">
            <img src="/asset/img/img-index3.jpg" alt=" Photo de la taverne des dieux " height="250em">
        </div>
        <div class="row mt-5">
            <h2>La cave Victor, c’est aussi de l’épicerie fine et des verres de qualité</h2>
        </div>
        <div class="row mt-4">
            <p>Boire une bonne bière est un rituel épicurien qui fait écho à la gastronomie. Notre cave se devait donc de vous proposer des produits d’épicerie fine afin d’accompagner vos sens dans la dégustation. Et pour que l’expérience soit parfaitement réussie, vous trouverez chez Victor des verres spécialement dédiés qui mettront en valeur toutes les couleurs, les textures et les saveurs de nos précieux liquides.
                Enfin, n’oubliez pas : outre notre boutique, nous disposons d’un espace dégustation pour apprécier tous les styles de bières, dans une ambiance conviviale et décontractée. Car il est primordial de se sentir bien pour apprécier toutes les richesses de la bière. </p>
    </div>
{% endblock %}