{% extends 'base.html.twig' %}



{% block body %}
    <div class="container">
        <div class="row mt-5">
            <h1> connection au compte admin </h1>
        </div>
        <div class="row mt-5">
            <form action="{{ path ('security_login')}} " method="post">
                <div class="form-group">
                    <input placeholder="adresses mail ..."
                           required name="_username" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <input placeholder="adresses mail ..."
                           required name="_password" type="password" class="form-control">
                </div>
                <div class="form-group mt-5">
                    <button type="submit" class=" btn btn-primary"> Conection</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}