<div class="card text-light bg-dark mb-3 mx-3 " style="width: 15rem;">
    <div class="card-header text-center">{{ product.name }}</div>
    <div class="card-body text-center">
        <img class="rounded" src="http://placehold.it/128x128" alt="photo de bière">
        <h5 class="card-title mt-2">{{ product.price }} €</h5>
        <p class="card-text">{{ product.description }}</p>
        <button class="btn btn-primary">Ajouter</button>
    </div>
</div>