{%  extends 'base.html.twig' %}

{% block title %}produits{% endblock %}

{% block body %}
    <div class="container mt-4 text-dark jumbotron">
        <div class="row mt-5">
            <h1>Nos bieres et épicerie fine </h1>
        </div>
        <div class="row mt-4">
            <h2>Plus de 400 références de bières, régionales et internationales</h2>
        </div>
        <div class="row mt-3">
            <ul>
                <li>
                  <p>Des bières belges, allemandes, américaines, françaises, anglaises, scandinaves, japonaises…</p>
                </li>
                <li>
                    <p>Tous les styles de bières sont représentés : Stout, IPA, Porter, Saison, Abbaye, Trappiste, Kriek, Lambic, Pale Ale, Sour ale…</p>
                </li>
                <li>
                    <p>Toutes les couleurs : blanche, blonde, ambrée, brune, noire…</p>
                </li>
                <li>
                    <p>Des bières bio, des bières sans gluten, des bières sans alcool…</p>
                </li>
                <li>
                    <p>Des bières douces, aromatiques, d’autres plus amères et fortes en alcool…</p>
                </li>
            </ul>
        </div>
        <div class="container mt-4">
            <div class="row">
                <h2>Nos biéres :</h2>
            </div>
            <div class="row mt-4 d-flex justify-content-center">
                {% for product in products %}
                    {{ include('User/_productCard.html.twig') }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}