{{ form_start(form) }}
<div class="row mt-5">
    <div class="col-2 border border-secondary rounded">
        <div class="my-3">
            {{ form(form.tags) }}
        </div>
    </div>
    <div class="col-10 border border-secondary rounded">
        <div class="my-3">
            {{ form_widget(form) }}
        </div>


    </div>

    <button type="submit" class="btn btn-primary mt-5">{{ button_label|default('Save') }}</button>
</div>



{{ form_end(form) }}
