{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="container jumbotron text-dark" >
        <div class="row">
            <h1>Produits : {{ product.name }} </h1>
        </div>
        <hr class="my-4">
        <div class="row mt-4">
            <div class="mx-2">
                <a href="{{ path('product_index') }}" class="btn btn-primary">back to list</a>
            </div>
            <div class="mx-2">
                {{ include('product/_delete_form.html.twig') }}
            </div>
        </div>
        {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}



    </div>

{% endblock %}
