 <div>
     <div class="container">
         {{ form_start(form) }}
         <div class="row">
             <div class="col">
                 {{  form_row(form.minPrice) }}
             </div>
             <div class="col">
                 {{  form_row(form.maxPrice) }}
             </div>
             <div class="col">
                 <button class="btn btn-primary">Rechercher</button>
             </div>
         </div>

         {{ form_end(form) }}
     </div>
     <div class="pagination">
         {{ knp_pagination_render(products) }}
     </div>
     <table class="table">
         <thead>
         <tr>
             <th>Name</th>
             <th>Description</th>
             <th>Price</th>
             <th>Supplier</th>
             <th>WebSiteSupplier</th>
             <th>actions</th>
         </tr>
         </thead>
         <tbody>
         {% for product in products %}
             <tr>
                 <td>{{ product.name }}</td>
                 <td>{{ product.description }}</td>
                 <td>{{ product.price }}</td>
                 <td>{{ product.supplier }}</td>
                 <td>{{ product.webSiteSupplier }}</td>
                 <td>
                     <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary">show</a>
                     <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">edit</a>
                 </td>
             </tr>
         {% else %}
             <tr>
                 <td colspan="7">no records found</td>
             </tr>
         {% endfor %}
         </tbody>
     </table>
     <div class="pagination">
         {{ knp_pagination_render(products) }}
     </div>
 </div>

