{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="container jumbotron text-dark" >
        <h1>Create new Product</h1>

        {{ include('product/_form.html.twig') }}

        <a href="{{ path('product_index') }} " class="btn btn-primary">back to list</a>
    </div>

{% endblock %}
