{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="container jumbotron text-dark" >
        <h1>Produits : {{ product.name }} </h1>
        <div class="row mt-4">
            <div class="col-4">
                <img class="rounded" src="http://placehold.it/128x128" alt="photo de bière">
            </div>
            <div class="col-6">
                <table class="table table-striped table-dark">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ product.description }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                        <th>Supplier</th>
                        <td>{{ product.supplier }}</td>
                    </tr>
                    <tr>
                        <th>WebSiteSupplier</th>
                        <td>{{ product.webSiteSupplier }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="mx-2">
                <a href="{{ path('product_index') }}" class="btn btn-primary">back to list</a>
            </div>
            <div class="mx-2">
                <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">edit</a>
            </div>
            <div class="mx-2">
                {{ include('product/_delete_form.html.twig') }}
            </div>
        </div>
        <div class="row mt-4">
        <h1>Tag de {{ product.name }} </h1>
        </div>
        <div class="row mt-4">

            {% for tag in product.tags %}
                <div class="col-2">
                    <li>
                        {{ tag.name }}
                    </li>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
