<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>La taverne des Dieux {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">La taverne des Dieux</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link{% if current_menu is defined and current_menu == 'shopProduct' %} active{%  endif %}" href="{{ path('shopProduct') }}">Nos produits<a>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_login') }}">connection<a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_logout') }}">déconnection<a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('adminIndex') }}">admin<a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<body class="bg-dark text-white">
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
</body>
<footer>
    <div class="container">
        <div class="row mt-5 d-flex justify-content-center">
            <div class="mx-5">
                <h3>Adresse :</h3>
                <p>147 Av du troue 73000 Chanbéry</p>
            </div>
            <div class="mx-5">
                <h3>Téléphone:</h3>
                <p>+33455887799</p>
            </div>
            <div class="mx-5">
                <h3>Mail :</h3>
                <p>contact@tavernedesdieux.com</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</footer>
</html>
