<div>
    {{ knp_pagination_render(sale_products) }}
    <table class="table">
        <thead>
        <tr>
            <th>DateOfPurchase</th>
            <th>Customer</th>
            <th>Product</th>
            <th>price</th>
            <th>Quantity</th>
            <th>total</th>
            <th>Color</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sale_product in sale_products %}
            <tr>
                <td>{{ sale_product.sale.dateOfPurchase ? sale_product.sale.dateOfPurchase|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sale_product.sale.customer.firstName }} {{ sale_product.sale.customer.lastName }}</td>
                <td>{{ sale_product.product.name }}</td>
                <td>{{ sale_product.product.price}}</td>
                <td>{{ sale_product.quantityProduct }}</td>
                <td>{{(sale_product.quantityProduct * sale_product.product.price )|number_format(2)}}</td>
                <td>{{ sale_product.color }}</td>
                <td>
                    <a href="{{ path('sale_product_show', {'id': sale_product.id}) }}">show</a>
                    <a href="{{ path('sale_product_edit', {'id': sale_product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(sale_products) }}
</div>
