{% extends 'base.html.twig' %}

{% block title %}SaleProduct{% endblock %}

{% block body %}
<div class="container jumbotron text-dark" >
    <h1>SaleProduct  {{ sale_product.sale.dateOfPurchase ? sale_product.sale.dateOfPurchase|date('Y-m-d H:i:s') : '' }}</h1>
    <div class="row mt-5">
        <div class="col-6">
            <table class="table">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ sale_product.sale.customer.firstName }} {{ sale_product.sale.customer.lastName }}</td>
                </tr>
                <tr>
                    <th>maile</th>
                    <td>{{ sale_product.sale.customer.mail }}</td>
                </tr>
                <tr>
                    <th>phone</th>
                    <td>{{ sale_product.sale.customer.tel }}</td>
                </tr>
                <tr>
                    <th>addresse</th>
                    <td>{{sale_product.sale.customer.city}} <br>
                        {{sale_product.sale.customer.addresses}}</td>
                </tr>
                <tr>
                    <th>country</th>
                    <td>{{sale_product.sale.customer.country}}</td>
                </tr>


                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table">
                <tbody>
                <tr>
                    <th>Product</th>
                    <td>{{ sale_product.product.name }}</td>
                </tr>
                <tr>
                <tr>
                    <th>Color</th>
                    <td>{{ sale_product.color }}</td>
                </tr>
                    <th>Quantity</th>
                    <td>{{ sale_product.quantityProduct}}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{sale_product.product.price}}</td>
                </tr>

                <tr>
                    <th>Total price ht</th>
                    <td>{{ (sale_product.sale.amount -(( sale_product.sale.amount /100) * 19.6) )|number_format(2) }} €</td>
                </tr>
                <tr>
                    <th>total price ttc</th>

                    <td>{{(sale_product.quantityProduct * sale_product.product.price )|number_format(2)}}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    {# buttons for back to list, edit and delete #}
    <div class="row justify-content-end">
        <div class="mx-2">
            <a href="{{ path('sale_product_index') }}" class="btn btn-primary">back to list</a>
        </div>
        <div class="mx-2">
            <a href="{{ path('sale_product_edit', {'id': sale_product.id}) }}" class="btn btn-primary">edit</a>
        </div>
        <div class="mx-2">
            {{ include('sale_product/_delete_form.html.twig') }}
        </div>
    </div>
</div>


{% endblock %}
